#header {
    .top_header {
        display: flex;
        justify-content: space-between;
        height: 40px;
        background: white;
        padding: 0 40px;
        align-items: center;
        border-bottom: 1px solid #a7a6a647;

        .explication {
            display: flex;

            span {
                color: $green_simple;
            }
        }

        .logo {
            font-size: 24px;

            .first {
                color: #333e48;
            }

            .dot {
                color: $yellow;
            }

            .location {
                color: $yellow;
                font-size: 12px;
            }
        }

        .options_list {
            display: flex;

            .item {
                cursor: pointer;
                position: relative;

                &:first-child {
                    margin-right: 10px;
                    padding: 4px 20px;
                    border-radius: 15px;
                    background: #1a202c;
                    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
                    transition: all 300ms ease-in-out;

                    &:hover {
                        box-shadow: 3px 3px 14px rgba(0, 0, 0, 0.15);
                        transition: all 300ms ease-in-out;
                    }

                    span {
                        color: white;
                    }

                    //&::before{
                    //    content: "";
                    //    position: absolute;
                    //    right: -13px;
                    //    top: 50%;
                    //    width: 1px;
                    //    height: 100%;
                    //    background: grey;
                    //    transform: translate(-50%, -50%);
                    //}
                }

                &:nth-child(2) {
                    border-radius: 15px;
                    background: $yellow;
                    padding: 4px 20px;
                    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
                    transition: all 300ms ease-in-out;

                    &:hover {
                        box-shadow: 3px 3px 14px rgba(0, 0, 0, 0.15);
                        transition: all 300ms ease-in-out;
                    }

                    span {
                        color: white;
                    }
                }
            }
        }
    }

    .mid_header {
        display: flex;
        justify-content: space-between;
        height: 80px;
        background: white;
        padding: 0 40px;
        align-items: center;
        border-bottom: 1px solid #a7a6a647;

        .menu {
            cursor: pointer;

            .burger_item {
                width: 20px;
                height: 2px;
                background: $green_simple;
                margin-bottom: 4px;
                transition: all 300ms ease-in;
            }

            &:hover {
                transition: all 300ms ease-in-out;

                .burger_item:nth-child(1) {
                    transform: rotate(45deg);
                }

                .burger_item:nth-child(2) {
                    transform: rotate(-45deg);
                }

                .burger_item:nth-child(3) {
                    opacity: 0;
                }
            }
        }

        .search_bar {
            display: flex;

            .search_input {
                input {
                    width: 400px;
                    border-radius: 0;

                }
            }

            .select_search_input {
                .el-input {
                    input {
                        //border-left: none;
                        width: 150px;
                        border-radius: 0;
                    }
                }
            }
        }

        .action_menu {
            .bag {
                position: relative;
                margin-right: 10px;

                .el-icon-shopping-bag-2 {
                    font-size: 24px;
                }

                .quantity {
                    position: absolute;
                    bottom: -11px;
                    right: -10px;
                    border-radius: 50%;
                    background: $yellow;
                    height: 1.37462rem;
                    width: 1.37462rem;;
                    color: $green_simple;
                    font-size: 0.74987rem;
                    text-align: center;
                    align-self: center;
                    vertical-align: center;
                }
            }


            .value {
                font-size: 18px;
            }

            .valute {
                font-size: 12px;
            }
        }
    }

    .left_menu_hidden {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        background: white;
        height: 100%;
        padding: 20px 40px 20px 40px;

        .logo {
            font-size: 36px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;

            .first {
                color: $green_simple;

                .dot {
                    color: $yellow;
                }
            }

            .el-icon-close {
                cursor: pointer;
            }
        }

        .categories {
            .el-collapse {
                border: none;

                .el-collapse-item {
                    .el-collapse-item__header {
                        border: none;
                        font-size: 14px;
                        font-weight: 600;
                    }
                }

                .el-collapse-item__wrap {
                    border: none;

                    .el-collapse-item__content {
                        .items {
                            border-left: 1px solid $yellow;
                            padding-left: 10px;

                            .parent_name {
                                color: black;
                                font-size: 14px;
                                font-weight: 600;
                                margin-bottom: 10px;
                            }

                            .item {
                                //margin-top: 10px;
                                display: grid;
                                a {
                                    color: $green_simple;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .slide-fade-enter-active {
        transition: all .5s ease-in-out;
    }

    .slide-fade-leave-active {
        transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }

    .slide-fade-enter, .slide-fade-leave-to {
        transform: translateX(-300px);
        opacity: 0;
    }
}
