<template>
  <div class="page-content-wrapper">
    <!-- Hero Slides-->
    <!--    <Slider></Slider>-->
    <!-- Product Catagories-->
    <div class="product-catagories-wrapper py-3">
      <div class="container">
        <div class="section-heading">
          <h6 class="ml-1">Product Category</h6>
        </div>
        <div class="product-catagory-wrap">
          <div class="row g-3">
            <!-- Single Catagory Card-->

            <div class="col-4" v-for="(category, index) in categories">
              <div class="card catagory-card">
                <div class="card-body">
                  <router-link class="text-decoration-none" :to="{ name: 'Catalog', params: { slug: category.slug }  }">
                    <font-awesome-icon :icon="category.icon"/>
                    <span>{{ category.lang.name }}</span>
                  </router-link>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- Featured Products Wrapper-->
    <div class="featured-products-wrapper py-3">
      <div class="container">
        <div class="section-heading d-flex align-items-center justify-content-between">
          <h6 class="pl-1">Companii</h6>
          <a class="btn btn-warning btn-sm text-white" href="featured-products.html">Vezi toate</a>
        </div>
        <div class="row g-3">
          <!-- Featured Product Card-->
          <div class="col-6 col-md-4 col-lg-3"
               v-for="(contractor, i) in contractors" :key="i">
            <div class="card featured-product-card">
              <div class="card-body">
                <span class="badge badge-warning custom-badge">
                   <font-awesome-icon icon="star"/>
                </span>
                <div class="product-thumbnail-side">
                  <!--                  <a class="wishlist-btn" href="#">-->
                  <!--                    <font-awesome-icon icon="heart"/>-->
                  <!--                  </a>-->
<!--                  <router-link class="product-thumbnail d-block">-->
                    <img :src="api_url+contractor.logo" alt="">
<!--                  </router-link>-->
                </div>
                <div class="product-description">
                  <a class="product-title d-block"
                     href="single-product.html">
                    {{ contractor.company_name }}
                  </a>
                  <p class="sale-price" @click="notificationInfo(contractor.address)">
                    {{ contractor.address.substring(0, 15) + '...' }}</p>
                  <p class="sale-price" @click="notificationInfo(contractor.phone)"><a
                      class="link-info text-decoration-none text-black-50"
                      :href="'tel:' + contractor.phone">{{ contractor.phone }}</a></p>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Top Products-->
    <div class="top-products-area clearfix py-3">
      <div class="container">
        <div class="section-heading d-flex align-items-center justify-content-between">
          <h6 class="ml-1">Top Products</h6><a class="btn btn-danger btn-sm" href="shop-grid.html">View All</a>
        </div>
        <div class="row g-3">
          <!-- Single Top Product Card-->
          <div class="col-6 col-md-4 col-lg-3">
            <div class="card top-product-card">
              <div class="card-body"><span class="badge badge-success">Sale</span><a class="wishlist-btn"
                                                                                     href="#"><i
                  class="lni lni-heart"></i></a><a class="product-thumbnail d-block"
                                                   href="single-product.html"><img class="mb-2"
                                                                                   src="@/assets/img/product/11.png"
                                                                                   alt=""></a><a
                  class="product-title d-block" href="single-product.html">Beach Cap</a>
                <p class="sale-price">$13<span>$42</span></p>
                <div class="product-rating"><i class="lni lni-star-filled"></i><i
                    class="lni lni-star-filled"></i><i class="lni lni-star-filled"></i><i
                    class="lni lni-star-filled"></i><i class="lni lni-star-filled"></i></div>
                <a class="btn btn-success btn-sm add2cart-notify" href="#"><i class="lni lni-plus"></i></a>
              </div>
            </div>
          </div>
          <!-- Single Top Product Card-->
          <div class="col-6 col-md-4 col-lg-3">
            <div class="card top-product-card">
              <div class="card-body"><span class="badge badge-primary">New</span><a class="wishlist-btn"
                                                                                    href="#"><i
                  class="lni lni-heart"></i></a><a class="product-thumbnail d-block"
                                                   href="single-product.html"><img class="mb-2"
                                                                                   src="@/assets/img/product/5.png"
                                                                                   alt=""></a><a
                  class="product-title d-block" href="single-product.html">Wooden Sofa</a>
                <p class="sale-price">$74<span>$99</span></p>
                <div class="product-rating"><i class="lni lni-star-filled"></i><i
                    class="lni lni-star-filled"></i><i class="lni lni-star-filled"></i><i
                    class="lni lni-star-filled"></i><i class="lni lni-star-filled"></i></div>
                <a class="btn btn-success btn-sm add2cart-notify" href="#"><i class="lni lni-plus"></i></a>
              </div>
            </div>
          </div>
          <!-- Single Top Product Card-->
          <div class="col-6 col-md-4 col-lg-3">
            <div class="card top-product-card">
              <div class="card-body"><span class="badge badge-success">Sale</span><a class="wishlist-btn"
                                                                                     href="#"><i
                  class="lni lni-heart"></i></a><a class="product-thumbnail d-block"
                                                   href="single-product.html"><img class="mb-2"
                                                                                   src="@/assets/img/product/6.png"
                                                                                   alt=""></a><a
                  class="product-title d-block" href="single-product.html">Roof Lamp</a>
                <p class="sale-price">$99<span>$113</span></p>
                <div class="product-rating"><i class="lni lni-star-filled"></i><i
                    class="lni lni-star-filled"></i><i class="lni lni-star-filled"></i><i
                    class="lni lni-star-filled"></i><i class="lni lni-star-filled"></i></div>
                <a class="btn btn-success btn-sm add2cart-notify" href="#"><i class="lni lni-plus"></i></a>
              </div>
            </div>
          </div>
          <!-- Single Top Product Card-->
          <div class="col-6 col-md-4 col-lg-3">
            <div class="card top-product-card">
              <div class="card-body"><span class="badge badge-danger">-15%</span><a class="wishlist-btn"
                                                                                    href="#"><i
                  class="lni lni-heart"></i></a><a class="product-thumbnail d-block"
                                                   href="single-product.html"><img class="mb-2"
                                                                                   src="@/assets/img/product/9.png"
                                                                                   alt=""></a><a
                  class="product-title d-block" href="single-product.html">Sneaker Shoes</a>
                <p class="sale-price">$87<span>$92</span></p>
                <div class="product-rating"><i class="lni lni-star-filled"></i><i
                    class="lni lni-star-filled"></i><i class="lni lni-star-filled"></i><i
                    class="lni lni-star-filled"></i><i class="lni lni-star-filled"></i></div>
                <a class="btn btn-success btn-sm add2cart-notify" href="#"><i class="lni lni-plus"></i></a>
              </div>
            </div>
          </div>
          <!-- Single Top Product Card-->
          <div class="col-6 col-md-4 col-lg-3">
            <div class="card top-product-card">
              <div class="card-body"><span class="badge badge-danger">-11%</span><a class="wishlist-btn"
                                                                                    href="#"><i
                  class="lni lni-heart"></i></a><a class="product-thumbnail d-block"
                                                   href="single-product.html"><img class="mb-2"
                                                                                   src="@/assets/img/product/8.png"
                                                                                   alt=""></a><a
                  class="product-title d-block" href="single-product.html">Wooden Chair</a>
                <p class="sale-price">$21<span>$25</span></p>
                <div class="product-rating"><i class="lni lni-star-filled"></i><i
                    class="lni lni-star-filled"></i><i class="lni lni-star-filled"></i><i
                    class="lni lni-star-filled"></i><i class="lni lni-star-filled"></i></div>
                <a class="btn btn-success btn-sm add2cart-notify" href="#"><i class="lni lni-plus"></i></a>
              </div>
            </div>
          </div>
          <!-- Single Top Product Card-->
          <div class="col-6 col-md-4 col-lg-3">
            <div class="card top-product-card">
              <div class="card-body"><span class="badge badge-warning">Hot</span><a class="wishlist-btn"
                                                                                    href="#"><i
                  class="lni lni-heart"></i></a><a class="product-thumbnail d-block"
                                                   href="single-product.html"><img class="mb-2"
                                                                                   src="@/assets/img/product/4.png"
                                                                                   alt=""></a><a
                  class="product-title d-block" href="single-product.html">Polo Shirts</a>
                <p class="sale-price">$38<span>$41</span></p>
                <div class="product-rating"><i class="lni lni-star-filled"></i><i
                    class="lni lni-star-filled"></i><i class="lni lni-star-filled"></i><i
                    class="lni lni-star-filled"></i><i class="lni lni-star-filled"></i></div>
                <a class="btn btn-success btn-sm add2cart-notify" href="#"><i class="lni lni-plus"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Cool Facts Area-->
    <div class="cta-area">
      <div class="container">
        <div class="cta-text p-4 p-lg-5" style="background-image: url(@/assets/img/bg-img/24.jpg)">
          <h4>Winter Sale 50% Off</h4>
          <p>Suha is a multipurpose, creative &amp; <br>modern mobile template.</p><a class="btn btn-danger"
                                                                                      href="#">Shop Today</a>
        </div>
      </div>
    </div>
    <!-- Weekly Best Sellers-->
    <div class="weekly-best-seller-area py-3">
      <div class="container">
        <div class="section-heading d-flex align-items-center justify-content-between">
          <h6 class="pl-1">Weekly Best Sellers</h6><a class="btn btn-success btn-sm" href="shop-list.html">View
          All</a>
        </div>
        <div class="row g-3">
          <!-- Single Weekly Product Card-->
          <div class="col-12 col-md-6">
            <div class="card weekly-product-card">
              <div class="card-body d-flex align-items-center">
                <div class="product-thumbnail-side"><span class="badge badge-success">Sale</span><a
                    class="wishlist-btn" href="#"><i class="lni lni-heart"></i></a><a
                    class="product-thumbnail d-block" href="single-product.html"><img
                    src="@/assets/img/product/10.png" alt=""></a></div>
                <div class="product-description"><a class="product-title d-block"
                                                    href="single-product.html">Modern Red Sofa</a>
                  <p class="sale-price"><i class="lni lni-dollar"></i>$64<span>$89</span></p>
                  <div class="product-rating"><i class="lni lni-star-filled"></i>4.88 (39)</div>
                  <a class="btn btn-success btn-sm add2cart-notify" href="#"><i
                      class="mr-1 lni lni-cart"></i>Buy Now</a>
                </div>
              </div>
            </div>
          </div>
          <!-- Single Weekly Product Card-->
          <div class="col-12 col-md-6">
            <div class="card weekly-product-card">
              <div class="card-body d-flex align-items-center">
                <div class="product-thumbnail-side"><span class="badge badge-primary">Sale</span><a
                    class="wishlist-btn" href="#"><i class="lni lni-heart"></i></a><a
                    class="product-thumbnail d-block" href="single-product.html"><img
                    src="@/assets/img/product/7.png" alt=""></a></div>
                <div class="product-description"><a class="product-title d-block"
                                                    href="single-product.html">Office Chair</a>
                  <p class="sale-price"><i class="lni lni-dollar"></i>$100<span>$160</span></p>
                  <div class="product-rating"><i class="lni lni-star-filled"></i>4.82 (125)</div>
                  <a class="btn btn-success btn-sm add2cart-notify" href="#"><i
                      class="mr-1 lni lni-cart"></i>Buy Now</a>
                </div>
              </div>
            </div>
          </div>
          <!-- Single Weekly Product Card-->
          <div class="col-12 col-md-6">
            <div class="card weekly-product-card">
              <div class="card-body d-flex align-items-center">
                <div class="product-thumbnail-side"><span class="badge badge-danger">-10%</span><a
                    class="wishlist-btn" href="#"><i class="lni lni-heart"></i></a><a
                    class="product-thumbnail d-block" href="single-product.html"><img
                    src="@/assets/img/product/12.png" alt=""></a></div>
                <div class="product-description"><a class="product-title d-block"
                                                    href="single-product.html">Sun Glasses</a>
                  <p class="sale-price"><i class="lni lni-dollar"></i>$24<span>$32</span></p>
                  <div class="product-rating"><i class="lni lni-star-filled"></i>4.79 (63)</div>
                  <a class="btn btn-success btn-sm add2cart-notify" href="#"><i
                      class="mr-1 lni lni-cart"></i>Buy Now</a>
                </div>
              </div>
            </div>
          </div>
          <!-- Single Weekly Product Card-->
          <div class="col-12 col-md-6">
            <div class="card weekly-product-card">
              <div class="card-body d-flex align-items-center">
                <div class="product-thumbnail-side"><span class="badge badge-warning">New</span><a
                    class="wishlist-btn" href="#"><i class="lni lni-heart"></i></a><a
                    class="product-thumbnail d-block" href="single-product.html"><img
                    src="@/assets/img/product/13.png" alt=""></a></div>
                <div class="product-description"><a class="product-title d-block"
                                                    href="single-product.html">Wall Clock</a>
                  <p class="sale-price"><i class="lni lni-dollar"></i>$31<span>$47</span></p>
                  <div class="product-rating"><i class="lni lni-star-filled"></i>4.99 (7)</div>
                  <a class="btn btn-success btn-sm add2cart-notify" href="#"><i
                      class="mr-1 lni lni-cart"></i>Buy Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Discount Coupon Card-->
    <div class="container">
      <div class="card discount-coupon-card border-0">
        <div class="card-body">
          <div class="coupon-text-wrap d-flex align-items-center p-3">
            <h5 class="text-white pr-3 mb-0">Get 20% <br> discount</h5>
            <p class="text-white pl-3 mb-0">To get discount, enter the<strong class="px-1">GET20</strong>code on
              the checkout page.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Night Mode View Card-->
    <div class="night-mode-view-card pb-3">
      <div class="container">
        <div class="card settings-card">
          <div class="card-body">
            <div class="single-settings d-flex align-items-center justify-content-between">
              <div class="title"><i class="lni lni-night"></i><span>Night Mode</span></div>
              <div class="data-content">
                <div class="toggle-button-cover">
                  <div class="button r">
                    <input class="checkbox" id="darkSwitch" type="checkbox">
                    <div class="knobs"></div>
                    <div class="layer"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Slider from "../components/ui/Slider";

export default {
  name: "Index",
  components: {Slider},
  data() {
    return {
      api_url: 'http://api.multimarket.md/',
      contractors: [],
      categories: [],
    }
  },
  created() {
    this.get();
    this.getCategories();
  },

  methods: {
    notificationInfo(text) {
      this.$notify({
        title: text,
        content: '',
        type: 'info'
      });
    },

    get() {
      this.axios.get(this.api_url + 'api/V1/contractor').then(response => {
        if (response.status === 200) {
          this.contractors = response.data.model;
        }
      }).catch(error => {
        if (error.response.status == 422) {
          this.errors = error.response.data.errors;
        }
      });
    },

    getCategories() {
      this.axios.get(this.api_url + 'api/V1/category').then(response => {
        if (response.status === 200) {
          this.categories = response.data.model
        }
      }).catch(error => {
        if (error.response.status == 422) {
          this.errors = error.response.data.errors;
        }
      });
    }
  }
}
</script>

<style lang="scss" scoped>
.providers {
  .item__provider {
    .info {

    }

    .image {
      width: 100px;
      height: 100px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 100%;
      }
    }
  }
}
</style>
