<template>
  <div class="footer-nav-area" id="footerNav">
    <div class="container h-100 px-0">
      <div class="suha-footer-nav h-100">
        <ul class="h-100 d-flex align-items-center justify-content-between pl-0">
          <li :class="{'active' : $route.name === 'Home'}">
            <router-link :to="{ name: 'Home' }">
              <font-awesome-icon icon="home"/>
              Home
            </router-link>
          </li>
          <li :class="{'active' : $route.name === 'Support'}">
            <router-link :to="{ name: 'Support' }">
              <font-awesome-icon icon="life-ring"/>
              Support
            </router-link>
          </li>
          <li :class="{'active' : $route.name === 'Cart'}">
            <router-link :to="{ name: 'Cart' }">
              <font-awesome-icon icon="shopping-basket"/>
              Cart
            </router-link>
          </li>
          <li :class="{'active' : $route.name === 'Catalog'}">
            <router-link :to="{ name: 'Catalog', params: { slug: '' }  }">
              <font-awesome-icon icon="heart"/>
              Pages
            </router-link>
          </li>
          <li :class="{'active' : $route.name === 'Settings'}">
            <router-link :to="{ name: 'Settings' }">
              <font-awesome-icon icon="cog"/>
              Settings
            </router-link>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Footer"
}
</script>

<style scoped>

</style>
