<template>
  <Header/>
  <router-view/>
  <Footer/>
</template>

<style lang="css">
/*@import './assets/styles/style.css';*/
</style>
<script>
import Footer from "./components/Footer";
import Header from "./components/Header";
export default {
  components: {Header, Footer},
  metaInfo: {
    meta: [
      { charset: 'utf-8' },
      { name: 'description', content: 'An example Vue application with vue-meta.' },
      { name: 'viewport', content: 'width=device-width, initial-scale=0' }
    ]
  },
}
</script>
