<template>
  <div>
    <el-carousel class="hero-slides owl-carousel" indicator-position="outside">
      <el-carousel-item v-for="item in 4" :key="item">
        <div class="single-hero-slide" style="background-image: url('@/assets/img/product/1.png')">
          <div class="slide-content h-100 d-flex align-items-center">
            <div class="container">
              <h4 class="text-white mb-0" data-animation="fadeInUp" data-delay="100ms" data-wow-duration="1000ms">
                Amazon Echo</h4>
              <p class="text-white" data-animation="fadeInUp" data-delay="400ms" data-wow-duration="1000ms">3rd
                Generation, Charcoal</p><a class="btn btn-primary btn-sm" href="#" data-animation="fadeInUp"
                                           data-delay="800ms" data-wow-duration="1000ms">Buy Now</a>
            </div>
          </div>
        </div>
      </el-carousel-item>
    </el-carousel>
  </div>
</template>

<script>
export default {
  name: "Slider"
}
</script>

<style scoped>

</style>
